@import "../../app.scss";
.online {
  @include themify($themes) {
    .chatOnlineFriends {
      display: flex;
      align-items: center;
      font-weight: 500;
      cursor: pointer;
      color: themed("textColor");
      gap: 10px;
      margin-top: 10px;

      .imgContanier {
        position: relative;
        gap: 10px;
        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
          border: 2px solid white;
        }

        .onlinebadge {
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: lime;
          top: 2px;
          right: 2px;
        }
      }
    }
  }
}
